html,body{
  height: 100%;
    width: 100%;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding:0;
}

.inner {
  
  padding:0;
    margin-left: auto;
    margin-right: auto; 
    width:69%;
    /*width: 1224px;*/
    /*height:652px;*/
    text-align: center;
}



.text-button {
  font-size: 20px;
  color: grey;
  cursor: pointer;
  text-transform: uppercase;
}

a:hover.text-button, a:focus.text-button {
  color: #B88F51;
  text-decoration: none;
}

.text-button > i {
  margin-right: 10px;
}

.text-button::before,
.text-button::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.text-button::before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  transform: translateX(10px);
}

.text-button::after {
  margin-left: 5px;
  content: ']';
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  transform: translateX(-10px);
}

.text-button:hover::before,
.text-button:hover::after,
.text-button:focus::before,
.text-button:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}